@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

* {
    font-family: 'Heebo', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

main {
    background: url("./assets/images/sky-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    box-shadow: 5px 5px 8px #000000;
}