.menu-toggle {
    top: 2.5rem;
    left: 2rem;
}

.menu-button {
    background-color: #434A54 !important;
}

.menu-button:hover {
    background-color: #5A6370 !important;
}

.menu-button svg {
    min-width: 25px;
}

.btn-close {
    margin-left: auto;
}

@media only screen and (max-width: 991px) {
    .desktop-offcanvas {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-offcanvas {
        display: none !important;
    }
}