.menu-toggle {
    top: 2rem;
    left: 2rem;
}

.menu-button {
    background-color: #434A54 !important;
}

.menu-button:hover {
    background-color: #5A6370 !important;
}

.menu-button svg {
    min-width: 25px;
}

.btn-close {
    margin-left: auto;
}