.listgroup-link {
    color: inherit !important;
}

.active {
    background-color: initial !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
}

@media only screen and (max-width: 991px) {
    .desktop {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .mobile {
        display: none;
    }
}