.project-img:hover {
    filter: brightness(95%);
    cursor: pointer;
}

.listgroup-link {
    color: inherit !important;
}

.active {
    background-color: initial !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
}