.project-img:hover {
    filter: brightness(95%);
    cursor: pointer;
}

@media only screen and (max-width: 991px) {
    .mobile-center {
        text-align: center;
        justify-content: center;
    }

    .mobile-vpad {
        margin-top: 1rem !important;
    }
}

.listgroup-link {
    color: inherit !important;
}

.active {
    background-color: initial !important;
    border-color: rgba(0, 0, 0, 0.125) !important;
}